<html>
<head>
    <link href="assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<h1>Person: {{ <%= ID %>}}</h1>
<form id="addnew" method="post" action="/adduser">
    name
    <input id="uname" placeholder="Enter name">
    fname
    <input id="fname" placeholder="Enter fname">

</form>

</body>
</html>