<% layout('layout2') %>


<div id="wrapper">

    <% include ../partials/sidebar %>

    <div id="page-content-wrapper">
        <% include ../partials/navbar %>
        <div class="container-fluid main_body">
            <div class="ul_links">
                <ul>
                    <li><a href="/">Home</a></li> |
                    <li><a href="/books">Books</a></li> |
                    <li><a href="#">Search a Book</a></li>
                </ul>
            </div>

            <div class="bodyDiv">
                <h4 style="">Search a Book</h4>

                <form action="" method="post">
                    <div class="form-group ">
                        <input id="" class="form-control" name="search" type="text" placeholder="Type Book title" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group">
                        <input type="submit" id="search" value="Search" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
